@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.container{
    height: 100%;
    margin: 0 auto;
    border: #000000 3px solid;
    display: flex;
    justify-content: center;
    background: rgb(19,237,223);
    background: linear-gradient(0deg, rgba(19,237,223,1) 0%, rgba(200,27,218,1) 100%);
    padding-bottom: 50px;
    padding-top: 10px;
}

form{
  height: 90%;
  width: 50%;
  margin: auto;
}
.form1{
  background: rgb(226,63,251);
  background: linear-gradient(90deg, rgba(226,63,251,1) 0%, rgba(223,223,14,1) 100%);
    
}


.header1{
    font-size: xx-large;
    font-family: 'Lobster',sans-serif;
    display: flex;
    justify-content: center; 
}

.content{
    font-family: 'Lobster',sans-serif;
    font-size:x-large;
    color: #000000;
    margin-left: 10px;
    padding-bottom: 30px;
}

p:hover{
    background-color: aqua;
    background:  rgba(14,222,223,1);
    -webkit-transition: all .5s ease-in-out;
    transition: all 1.s ease-in-out;

}



.container2 {
    align-items: center;
    border-radius: 26px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
      0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
      0 8px 16px rgba(0, 0, 0, 0.11);
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    height: 52px;
    width: 190px;
  }
  
  .bottom {
    border-radius: 26px;
    background: #1f1d1d;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  
  .cover {
    background: rgb(204,24,248);
    background: linear-gradient(100deg, rgba(204,24,248,1) 0%, rgba(14,222,223,1) 100%);
    border-radius: 26px;
    height: 100%;
    position: absolute;
    width: 100%;
  }


  .button_container {
    position: relative;
    left: 0;
    right: 0;
    top: 30%;
  }
  
  .description, .link {
    font-family: 'Amatic SC', cursive;
    text-align: center;
  }
  
  .description {
    font-size: 35px;
  }
  
  .btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 15px;
    background-color: gold;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .btn span {
    position: relative; 
    z-index: 1;
    font-family: cursive;
  }
  
  .btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background:  rgba(14,222,223,1);
    -webkit-transition: all .5s ease-in-out;
    transition: all 1.s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
  .btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
  
  .link {
    font-size: 20px;
    margin-top: 30px;
  }
  
  .link a {
    color: #000;
    font-size: 25px; 
  }